# rigexpert control for Python 3 with basic working environment
# Used by make_env.sh

# development utilities
black>=22.6.0
flake8
Pint>=0.19.2
isort>=5.10.1
mypy==1.0.1
refurb==1.13.0

serial
serial_device2

numpy>=1.23
pandas>=1.0

pyqt6
pyqt6-sip
pyqtgraph==0.13.3

